@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-BoldItalic.eot');
    src: local('Amsi Pro Bold Italic'), local('AmsiProNormal-BoldItalic'),
        url('../webfonts/AmsiProNormal-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-BoldItalic.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-BoldItalic.woff') format('woff'),
        url('../webfonts/AmsiProNormal-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-ExtraLight.eot');
    src: local('Amsi Pro ExtraLight'), local('AmsiProNormal-ExtraLight'),
        url('../webfonts/AmsiProNormal-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-ExtraLight.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-ExtraLight.woff') format('woff'),
        url('../webfonts/AmsiProNormal-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-ExtraLightItalic.eot');
    src: local('../webfonts/Amsi Pro ExtraLight Italic'), local('../webfonts/AmsiProNormal-ExtraLightItalic'),
        url('../webfonts/AmsiProNormal-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-ExtraLightItalic.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-ExtraLightItalic.woff') format('woff'),
        url('../webfonts/AmsiProNormal-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-Black.eot');
    src: local('../webfonts/Amsi Pro Black'), local('../webfonts/AmsiProNormal-Black'),
        url('../webfonts/AmsiProNormal-Black.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-Black.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-Black.woff') format('woff'),
        url('../webfonts/AmsiProNormal-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-BlackItalic.eot');
    src: local('../webfonts/Amsi Pro Black Italic'), local('../webfonts/AmsiProNormal-BlackItalic'),
        url('../webfonts/AmsiProNormal-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-BlackItalic.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-BlackItalic.woff') format('woff'),
        url('../webfonts/AmsiProNormal-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-Bold.eot');
    src: local('../webfonts/Amsi Pro Bold'), local('../webfonts/AmsiProNormal-Bold'),
        url('../webfonts/AmsiProNormal-Bold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-Bold.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-Bold.woff') format('woff'),
        url('../webfonts/AmsiProNormal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-Italic.eot');
    src: local('../webfonts/Amsi Pro Italic'), local('../webfonts/AmsiProNormal-Italic'),
        url('../webfonts/AmsiProNormal-Italic.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-Italic.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-Italic.woff') format('woff'),
        url('../webfonts/AmsiProNormal-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-Regular.eot');
    src: local('../webfonts/Amsi Pro'), local('../webfonts/AmsiProNormal-Regular'),
        url('../webfonts/AmsiProNormal-Regular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-Regular.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-Regular.woff') format('woff'),
        url('../webfonts/AmsiProNormal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-ThinItalic.eot');
    src: local('../webfonts/Amsi Pro Thin Italic'), local('../webfonts/AmsiProNormal-ThinItalic'),
        url('../webfonts/AmsiProNormal-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-ThinItalic.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-ThinItalic.woff') format('woff'),
        url('../webfonts/AmsiProNormal-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-LightItalic.eot');
    src: local('../webfonts/Amsi Pro Light Italic'), local('../webfonts/AmsiProNormal-LightItalic'),
        url('../webfonts/AmsiProNormal-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-LightItalic.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-LightItalic.woff') format('woff'),
        url('../webfonts/AmsiProNormal-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Amsi Pro Ultra';
    src: url('../webfonts/AmsiProNormal-UltraItalic.eot');
    src: local('../webfonts/Amsi Pro Ultra Italic'), local('../webfonts/AmsiProNormal-UltraItalic'),
        url('../webfonts/AmsiProNormal-UltraItalic.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-UltraItalic.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-UltraItalic.woff') format('woff'),
        url('../webfonts/AmsiProNormal-UltraItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-Light.eot');
    src: local('../webfonts/Amsi Pro Light'), local('../webfonts/AmsiProNormal-Light'),
        url('../webfonts/AmsiProNormal-Light.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-Light.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-Light.woff') format('woff'),
        url('../webfonts/AmsiProNormal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-SemiBoldItalic.eot');
    src: local('../webfonts/Amsi Pro SemiBold Italic'), local('../webfonts/AmsiProNormal-SemiBoldItalic'),
        url('../webfonts/AmsiProNormal-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-SemiBoldItalic.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-SemiBoldItalic.woff') format('woff'),
        url('../webfonts/AmsiProNormal-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-Thin.eot');
    src: local('../webfonts/Amsi Pro Thin'), local('../webfonts/AmsiProNormal-Thin'),
        url('../webfonts/AmsiProNormal-Thin.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-Thin.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-Thin.woff') format('woff'),
        url('../webfonts/AmsiProNormal-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Amsi Pro Ultra';
    src: url('../webfonts/AmsiProNormal-Ultra.eot');
    src: local('../webfonts/Amsi Pro Ultra'), local('../webfonts/AmsiProNormal-Ultra'),
        url('../webfonts/AmsiProNormal-Ultra.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-Ultra.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-Ultra.woff') format('woff'),
        url('../webfonts/AmsiProNormal-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amsi Pro Opt Headline';
    src: url('../webfonts/AmsiProOpt-Headline.eot');
    src: local('../webfonts/Amsi Pro Opt Headline'), local('../webfonts/AmsiProOpt-Headline'),
        url('../webfonts/AmsiProOpt-Headline.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProOpt-Headline.woff2') format('woff2'),
        url('../webfonts/AmsiProOpt-Headline.woff') format('woff'),
        url('../webfonts/AmsiProOpt-Headline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amsi Pro';
    src: url('../webfonts/AmsiProNormal-SemiBold.eot');
    src: local('../webfonts/Amsi Pro SemiBold'), local('../webfonts/AmsiProNormal-SemiBold'),
        url('../webfonts/AmsiProNormal-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/AmsiProNormal-SemiBold.woff2') format('woff2'),
        url('../webfonts/AmsiProNormal-SemiBold.woff') format('woff'),
        url('../webfonts/AmsiProNormal-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
